<!DOCTYPE html>
<html>
<head>
<title>info</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="device-width,initial-scale=1.0">
<link rel="stylesheet" href="/static/info_style.css">
</head>
<body>
<div class="header">
<ul>
	<li> <a href="/">Home</a></form></li>
	<li> <a href="/info">Info</a></form></li>
    <li> <a href="/predict">Predict</a></form></li>
</ul>
</div>

<section class="sec1">
	<div class="content">
		<h1>ECG</h1>
		<p>An electrocardiogram (ECG or EKG) records the electrical signal
		from the heart to check for different heart conditions. </P>
		<p>An electrocardiogram records the electrical signals in the heart.
		It's a common and painless test used to quickly detect heart
		problems and monitor the heart's health.

		An electrocardiogram — also called ECG or EKG — is often
		done in a health care provider's office, a clinic or a hospital room.
		ECG machines are standard equipment in operating rooms and ambulances. 
		Some personal devices, such as smartwatches, offer ECG monitoring.
		Ask your health care provider if this is an option for you.</p>
	</div>
</section>
<section class="sec7">
		<div class="content">
		<h1>Normal</h1>
		<p>Arrhythmia is an abnormal rhythm of the heart. The only normal rhythm of the heart is a normal sinus rhythm. In this rhythm, an impulse is generated in the sinoatrial (SA) node, which is conducted through and slowed down while passing through the atrioventricular node (AV). It is then conducted through the bundle of His, to the left and right bundle branches, and eventually into the Purkinje fibers. Any deviation from this conduction pathway results in arrhythmia. Arrhythmias can be classified based on various criteria. The most common way to categorize them is based on the rate of conduction as bradyarrhythmia with a heart rate of fewer than 60 beats per minute (bpm) and tachyarrhythmia with a heart rate higher than 100 bpm.
		</p>


</section>
<section class="sec2">
		<div class="content">
		<h1>Left Bundle Branch Block</h1>
		<p>Left bundle branch block sometimes makes it harder for the heart to pump blood efficiently through the circulatory system.
			Most people don't have symptoms. If symptoms occur, they include fainting or a slow heart rate.
			If there's an underlying condition, such as heart disease, that condition needs treatment. In patients with heart failure, a pacemaker can also relieve symptoms as well as prevent death.
		</p>
		</div>

</section>
<section class="sec3">
<div class="content">
		<h1>Premature Atrial Contraction</h1>
		<p>What are premature atrial contractions? Premature atrial contractions (PACs) are extra heartbeats that start in the upper chambers of your heart. When the premature, or early, signal tells the heart to contract, there may not be much blood in the heart at that moment. That means there's not much blood to pump out
		</p>
		</div>
</section>
<section class="sec4">
<div class="content">
		<h1>Premature Ventricular Contractions</h1>
		<p>Premature ventricular contractions (PVCs) are extra heartbeats that begin in one of the heart's two lower pumping chambers (ventricles). These extra beats disrupt the regular heart rhythm, sometimes causing a sensation of a fluttering or a skipped beat in the chest.
		</p>
		</div>

</section>
<section class="sec5">
<div class="content">
		<h1>Right Bundle Branch Block</h1>
		<p>Right bundle branch block is a problem with your right bundle branch that keeps your heart’s electrical signal from moving at the same time as the left bundle branch. Instead of moving together on the left and right sides, the signal on the right side is running behind. This creates an irregular heartbeat. Usually, the problem isn’t serious.
		</p>
		</div>

</section>
<section class="sec6">
<div class="content">
		<h1>Ventricular Fibrillation</h1>
		<p>Ventricular fibrillation is a type of irregular heart rhythm (arrhythmia). During ventricular fibrillation, the lower heart chambers contract in a very rapid and uncoordinated manner. As a result, the heart doesn't pump blood to the rest of the body.
		</p>
		</div>


</section>



</body>
</html>
